.dockerignore
npm-debug.log
.next
node_modules/
.vscode/
dist/
tmp/
.idea/
Dockerfile
helm/
scripts/
tools/
.editorconfig
.gitignore
.gitlab-ci.yml
CHANGELOG.md
docker-compose.yml
example.env
README.md
.git/
