.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.innerContainer {
  display: flex;
  flex-grow: 1;
}

.filters {
  display: flex;
  flex-direction: column;
  padding: 100px 30px;
  height: 95vh;
}

.resetButtonContainer {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  margin: 40px 0;
}

.resetButton {
  width: 100%;
  bottom: 0;
  font-size: 1.1rem;
}

.divider {
  height: 75vh;
  margin-top: 80px;
}

@media (max-width: 768px) {
  .filters {
    display: none;
  }
}
