.popover {
  background-color: transparent;
  border-radius: 0;
}

.stackUp,
.stackDown,
.stackLeft,
.stackRight {
  align-items: center;
  filter: drop-shadow(0px 3px 4px rgb(0 0 0 / 20%))
    drop-shadow(0px 0px 1px rgb(0 0 0 / 60%));
}

.stackUp {
  margin-bottom: 10px;
}

.stackDown {
  margin-top: 10px;
}

.stackLeft {
  margin-right: 10px;
}

.stackRight {
  margin-left: 10px;
}

.arrowRight,
.arrowLeft,
.arrowUp,
.arrowDown {
  position: relative;
}

.arrowRight::before,
.arrowLeft::before,
.arrowUp::before,
.arrowDown::before {
  background-color: #fff;
  content: '';
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  z-index: 999;
}

.arrowRight::before {
  right: 6px;
  transform: rotate(135deg);
  top: calc(50% - 6px);
}

.arrowLeft::before {
  left: -6px;
  transform: rotate(-45deg);
  top: calc(50% - 6px);
}

.arrowDown::before {
  bottom: -6px;
  transform: rotate(-135deg);
  left: calc(50% - 6px);
}

.arrowUp::before {
  top: -6px;
  transform: rotate(45deg);
  left: calc(50% - 6px);
}

.container {
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  z-index: 1000;
}
