.container {
  border-radius: 5px;
  border: 1px solid;
  width: 8rem;
  height: 8rem;
  transition-duration: 0.2s;
}

.innerContainer {
  align-items: center;
}

.icon {
  font-size: 4rem;
  transition: 0.2s;
}
