.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
  margin: 0 20px 40px 20px;
  position: relative;
}

.container:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: linear-gradient(to right, black 100px, transparent);
  backdrop-filter: blur(1px);
}

.titleAndButtonContainer {
  margin-left: 5vw;
  z-index: 1;
}

.titleContainer {
}

.title {
  font-size: 1.9rem;
  color: white;
}

.buttonContainer {
  margin-top: 25px;
}

.button {
  font-size: 1.1rem;
}
