.container {
  height: calc(100vh - var(--nav-height));
  width: 100%;
  display: flex;
  flex-direction: column;
}

.logo {
  height: calc(calc(100vh - var(--nav-height)) * 0.5);
  width: calc(calc(100vh - var(--nav-height)) * 0.5);
  margin: auto;
}

.center {
  text-align: center;
}

.startButton {
  margin: auto;
}
