.container {
  display: flex;
  flex-direction: column;
  padding: 40px 60px 20px 60px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.formContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
}

.formSection {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer {
  margin-top: 30px;
  min-width: 300px;
}

.actionsContainer {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 40px;
  right: 50px;
}

.saveButton,
.resetButton {
  text-transform: none;
  font-size: 1.2rem;
  padding: 10px 40px 8px;
}

@media (max-width: 768px) {
  .container {
    align-items: center;
  }

  .formContainer {
    margin: 40px;
  }

  .formSection:last-child {
    margin-bottom: 0;
  }

  .formSection {
    align-items: flex-start;
  }

  .titleContainer {
    text-align: center;
  }

  .actionsContainer {
    position: static;
    justify-content: center;
  }

  .saveButton,
  .resetButton {
    font-size: 1.2rem;
    padding: 10px 40px 8px;
  }
}
